@charset "utf-8";


.container{
	position:absolute;
	left:50px;
	right:50px;
	top:15px;
	width:800px;
	height:800XP;
	background-color:#9be6d9;
}

.item-left{
	float:left;
	width:148px;
	height:800px;
	border-right:2px #808080 solid;
}


.item-left-top{
	float:top;
	width:148px;
	height:190px;
	padding:5px;
}

.item-left-top img{
	width:138px;
	height:190px;
}

.item-left-buttom{
	width:148px;
	height:600px;
	line-height:center;
	color:red;
}


.item-left-buttom-1{
	width:148px;
	height:120px;
	text-align:center;
	line-height:120px;
}


.item-left-buttom-2{
	width:148px;
	height:120px;
	text-align:center;
	line-height:120px;
}


.item-left-buttom-3{
	width:148px;
	height:120px;
	text-align:center;
	line-height:120px;
}


.item-left-buttom-4{
	width:148px;
	height:120px;
	text-align:center;
	line-height:120px;
}


.item-left-buttom-5{
	width:148px;
	height:120px;
	text-align:center;
	line-height:120px;
}









.item-right-top{
	float:left;
	width:650px;
	height:200px;
}

.item-right-top tr{
	height:40px;
	width:650px;
	line-height:40px;
}

.item-right-top-1{
	height:50px;
	width:650px;
	line-height:50px;
	text-align:center;
	font-size:120%;
	font-weight:bold;
}


.item-right-buttom{
	float:right;
	width:650px;
	height:120px;
	color:#00f;
}




.item-right-buttom-1{
	float:right;
	width:650px;
	height:120px;
	line-height:120px;
}



.item-right-buttom-2{
	float:right;
	width:650px;
	height:120px;
}



.item-right-buttom-3{
	float:right;
	width:650px;
	height:60px;
	padding-bottom:30px;
	padding-top:30px;
}



.item-right-buttom-4{
	float:right;
	width:650px;
	height:60px;
	padding-bottom:30px;
	padding-top:30px;
}



.item-right-buttom-5{
	float:right;
	width:650px;
	height:120px;
}



















